<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/clz_logo"
        android:roundIcon="@mipmap/laucher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ksc"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".StudentDashboardActivity" android:exported="true"/>
        <activity android:name=".ForgetPasswordActivity" android:exported="false" />
        <activity android:name=".DetailBEdActivity" android:exported="false" />
        <activity android:name=".DetailsBBSactivity" android:exported="false" />
        <activity android:name=".DetailBCAActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".BachelorActivity" android:exported="false" />
        <activity android:name=".MasterActivity" android:exported="false" />
        <activity android:name=".ScienceActivity" android:exported="false" />
        <activity android:name=".PlusTwoActivity" android:exported="false" />
        <activity android:name=".FullImageActivity" android:exported="false" />
        <activity android:name=".ResultActivity" android:exported="false" />
        <activity android:name=".ExamActivity" android:exported="false" />
        <activity android:name=".EventActivity" android:exported="false" />
        <uses-permission android:name="android.permission.INTERNET"
            tools:ignore="WrongManifestParent" />
    </application>

</manifest>
